*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 1000px;
}

.overlay-on {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.425);
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  -webkit-transition: background-color .9s ease-in-out;
  transition: background-color .9s ease-in-out;
}

header.header-1 {
  position: relative;
}

header.header-1 .store-notice {
  width: 100%;
  background-color: #803160;
  color: white;
  padding: 15px 0;
  text-align: center;
}

header.header-1 .menu-desktop {
  -webkit-box-shadow: 0 5px 20px -10px #0000001a;
          box-shadow: 0 5px 20px -10px #0000001a;
  width: 100%;
  background-color: white;
  top: 0px;
  display: none;
  top: 0;
  -webkit-transition: top .5s ease-in-out;
  transition: top .5s ease-in-out;
}

@media (min-width: 1124px) {
  header.header-1 .menu-desktop {
    display: block;
  }
}

header.header-1 .menu-desktop.sticky-bar {
  position: fixed;
  top: 0;
  -webkit-animation: slide-down .7s;
          animation: slide-down .7s;
}

header.header-1 .menu-desktop .main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100px;
}

header.header-1 .menu-desktop .main-navigation .main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header.header-1 .menu-desktop .main-navigation .main-menu nav {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

header.header-1 .menu-desktop .main-navigation .main-menu nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

header.header-1 .menu-desktop .main-navigation .main-menu nav ul li a {
  padding: 0 16px;
  display: block;
  text-decoration: none;
  color: black;
}

header.header-1 .menu-desktop .main-navigation .logo {
  max-width: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header.header-1 .menu-desktop .main-navigation .logo a {
  display: block;
  max-height: 80px;
  width: 100%;
}

header.header-1 .menu-desktop .main-navigation .logo a img {
  width: 100%;
}

header.header-1 .menu-desktop .main-navigation .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

header.header-1 .menu-desktop .main-navigation .icons .icon-cart-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #f0f0f0;
  border-radius: 3px;
}

header.header-1 .menu-desktop .main-navigation .icons .icon-cart-box .cart-total {
  padding: 10px;
}

header.header-1 .menu-desktop .main-navigation .icons .icon-cart-box .cart-icon {
  padding: 10px;
  border-left: 1px solid #f0f0f0;
}

header.header-1 .menu-mobile {
  display: block;
}

header.header-1 .menu-mobile.sticky-bar {
  position: fixed;
  top: 0;
  -webkit-animation: slide-down .7s;
          animation: slide-down .7s;
  width: 100%;
  right: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.247);
}

@media (min-width: 1124px) {
  header.header-1 .menu-mobile {
    display: none;
  }
}

header.header-1 .menu-mobile .main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 60px;
  background-color: white;
}

header.header-1 .menu-mobile .main-navigation .logo {
  max-width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header.header-1 .menu-mobile .main-navigation .logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 55px;
  max-height: 55px;
  width: 100%;
}

header.header-1 .menu-mobile .main-navigation .logo a img {
  width: 100%;
}

header.header-1 .menu-mobile .main-navigation .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

header.header-1 .menu-mobile .main-navigation .icons .icon-cart-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #f0f0f0;
  border-radius: 3px;
}

header.header-1 .menu-mobile .main-navigation .icons .icon-cart-box .cart-total {
  padding: 10px;
}

header.header-1 .menu-mobile .main-navigation .icons .icon-cart-box .cart-icon {
  padding: 10px;
  border-left: 1px solid #f0f0f0;
}

header.header-1 .menu-mobile .main-navigation .burger-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

header.header-1 .left-sidebar {
  position: fixed;
  background-color: white;
  left: 0;
  top: 0;
  height: 100vh;
  padding: 20px 15px;
  -webkit-transition: left .5s ease-in-out;
  transition: left .5s ease-in-out;
  -webkit-box-shadow: 0 5px 20px -10px #0000001a;
          box-shadow: 0 5px 20px -10px #0000001a;
  z-index: 2;
}

@media (max-width: 425px) {
  header.header-1 .left-sidebar {
    width: 80%;
  }
}

header.header-1 .left-sidebar .close-icon {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header.header-1 .left-sidebar .close-icon button {
  cursor: pointer;
  background-color: transparent;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  border: none;
  outline: none;
  -webkit-box-shadow: 1px 1px 4px 0px #00000008;
          box-shadow: 1px 1px 4px 0px #00000008;
  border: 1px solid rgba(0, 0, 0, 0.253);
  font-size: 15px;
  color: #803160;
}

header.header-1 .left-sidebar header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

header.header-1 .left-sidebar header a {
  max-width: 120px;
  display: block;
  max-height: 55px;
}

header.header-1 .left-sidebar header a img {
  width: 100%;
}

header.header-1 .left-sidebar nav form {
  margin: 15px 0;
}

header.header-1 .left-sidebar nav form input[type=search] {
  width: 100%;
  padding: 10px 10px;
  border-radius: 3px;
  border: 1px solid #e5e5e5;
  padding: 10px 15px;
  background-color: transparent;
  height: 50px;
  font-size: 16px;
  border: 1px solid #e5e5e5;
  outline: none;
}

header.header-1 .left-sidebar nav form input[type=search]:focus {
  outline: 2px solid #803160;
  caret-color: #803160;
  -webkit-box-shadow: 0 5px 20px 0 #0000001a;
          box-shadow: 0 5px 20px 0 #0000001a;
}

header.header-1 .left-sidebar nav ul {
  margin-top: 30px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

header.header-1 .left-sidebar nav ul li {
  border-bottom: 1px solid #f0f0f0;
}

header.header-1 .left-sidebar nav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding: 15px 0;
  text-decoration: none;
  color: black;
}

header.header-1 .off {
  left: -100%;
}

section.hero .hero-image-container img {
  width: 100%;
}

@-webkit-keyframes slide-down {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-down {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*# sourceMappingURL=main.css.map */