*,
*:before,
*:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 1000px;
}

header.header-1 {
    position: relative;
    &.sticky-bar {
        @media (min-width: 1124px) {
            padding-bottom: 100px;
        }
        @media (max-width: 1124px) {
            padding-bottom: 64px;
        }
        .menu-mobile {
            position: fixed;
            top: 0;
            animation: slide-down .7s;
            width: 100%;
            background-color: white;
            z-index: 100;
        }
        .menu-desktop {
            position: fixed;
            top: 0;
            animation: slide-down .7s;
            z-index: 100;
        }
    }
    .store-notice {
        width: 100%;
        background-color: #803160;
        color: white;
        padding: 15px 0;
        text-align: center;
    }
    .menu-desktop {
        box-shadow: 0 5px 20px -10px #0000001a;
        width: 100%;
        background-color: white;
        top: 0px;
        // position: sticky;
        display: none;
        top: 0;
        transition: top .5s ease-in-out;
        @media (min-width: 1124px) {
            display: block;
        }
        .main-navigation {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            height: 100px;
            .main-menu {
                display: flex;
                nav {
                    text-align: center;
                    align-items: center;
                    height: 100%;
                    ul {
                        display: flex;
                        list-style: none;
                        align-items: center;
                        height: 100%;
                        margin: 0;
                        padding: 0;
                        li {
                            a {
                                padding: 0 16px;
                                display: block;
                                text-decoration: none;
                                color: black;
                            }
                        }
                    }
                }
            }
            .logo {
                max-width: 170px;
                display: flex;
                align-items: center;
                a {
                    display: block;
                    max-height: 80px;
                    width: 100%;
                    img {
                        width: 100%;
                    }
                }
            }
            .icons {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 20px;
                .icon-cart-box {
                    display: flex;
                    align-items: center;
                    border: 1px solid #f0f0f0;
                    border-radius: 3px;
                    .cart-total {
                        padding: 10px;
                    }
                    .cart-icon {
                        padding: 10px;
                        border-left: 1px solid #f0f0f0;
                    }
                }
            }
        }
    }
    .menu-mobile {
        display: block;
        @media (min-width: 1124px) {
            display: none;
        }
        .main-navigation {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            width: 100%;
            height: 60px;
            background-color: white;
            .logo {
                max-width: 120px;
                display: flex;
                align-items: center;
                a {
                    display: flex;
                    align-items: center;
                    height: 55px;
                    max-height: 55px;
                    width: 100%;
                    img {
                        width: 100%;
                    }
                }
            }
            .icons {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 20px;
                .icon-cart-box {
                    display: flex;
                    align-items: center;
                    border: 1px solid #f0f0f0;
                    border-radius: 3px;
                    .cart-total {
                        padding: 10px;
                    }
                    .cart-icon {
                        padding: 10px;
                        border-left: 1px solid #f0f0f0;
                    }
                }
            }
            .burger-button {
                display: flex;
                align-items: center;
                cursor: pointer;
            }
        }
    }
    .left-sidebar {
        position: fixed;
        background-color: white;
        left: 0;
        top: 0;
        height: 100vh;
        padding: 20px 15px;
        transition: left .5s ease-in-out;
        box-shadow: 0 5px 20px -10px #0000001a;
        z-index: 2;
        @media (max-width: 425px) {
            width: 80%;
        }
        .close-icon {
            width: 100%;
            display: flex;
            justify-content: end;
            align-items: center;
            // padding: 10px;
            button {
                cursor: pointer;
                background-color: transparent;
                padding: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                border: none;
                outline: none;
                box-shadow: 1px 1px 4px 0px #00000008;
                border: 1px solid rgba(0, 0, 0, 0.253);
                font-size: 15px;
                color: #803160;
            }
        }
        header {
            display: flex;
            justify-content: center;
            margin-top: 10px;
            a {
                max-width: 120px;
                display: block;
                max-height: 55px;
                img {
                    width: 100%
                }
            }
        }
        nav {
            // padding: 20px;
            form {
                margin: 15px 0;
                input[type=search] {
                    width: 100%;
                    padding: 10px 10px;
                    border-radius: 3px;
                    border: 1px solid #e5e5e5;
                    padding: 10px 15px;
                    background-color: transparent;
                    height: 50px;
                    font-size: 16px;
                    border: 1px solid #e5e5e5;
                    outline: none;
                    &:focus {
                        outline: 2px solid #803160;
                        caret-color: #803160;
                        box-shadow: 0 5px 20px 0 #0000001a;
                    }
                }
            }
            ul {
                margin-top: 30px;
                list-style-type: none;
                padding: 0;
                margin: 0;
                li {
                    border-bottom: 1px solid #f0f0f0;
                    a {
                        display: flex;
                        justify-content: start;
                        padding: 15px 0;
                        text-decoration: none;
                        color: black;
                    }
                    // border-bottom: 1px solid black
                }
            }
        }
    }
    .off {
        left: -100%;
    }
    .overlay-on {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.425);
        height: 100vh;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
        transition: background-color .9s ease-in-out;
    }
    @keyframes slide-down {
        0% {
            transform: translateY(-100%);
        }
        100% {
            transform: translateY(0);
        }
    }
}


/*** Start Show case 1 **/

section.showcase-1 {
    width: 100%;
    overflow: hidden;
    .showcase-image {
        img {
            width: 100%;
        }
    }
    .slick-arrow {
        z-index: 3;
        &.slick-prev {
            left: 30px;
            &::before {
                content: "\f053";
                font-family: 'Font Awesome 5 Free';
                font-size: 30px;
                height: 30px;
                width: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 900;
            }
        }
        &.slick-next {
            right: 30px;
            &::before {
                content: "\f054";
                font-family: 'Font Awesome 5 Free';
                font-size: 30px;
                height: 30px;
                width: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 900;
            }
        }
    }
}


/*** start cats 1 **/

.cats-1 {
    margin: 50px 0;
    header {
        text-align: center;
        margin: 40px 0 50px;
    }
    .category-card {
        color: white;
        position: relative;
        margin-bottom: 10px;
        .overlay {
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #00000066;
        }
        .category-label {
            position: absolute;
            left: 5%;
            top: 5%;
            height: 90%;
            width: 90%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            border: 1px solid white;
            // transform: translateX(-50%);
            // display: block;
            // background-color: black;
            z-index: 2;
            // padding: 5px 10px;
            // font-size: 13px;
            // color: black;
            font-size: 18px;
            span {
                background-color: rgba(0, 0, 0, 0.26);
                padding: 10px 20px;
                text-transform: uppercase;
            }
        }
        .category-thumbnail {
            // background-color: rgba(0, 0, 0, 0.066);
            overflow: hidden;
            // padding-bottom: 100%;
            height: 200px;
            // position: relative;
            // &:hover {
            //     & img {
            //         transform: translate(50%, -50%) scale(1.1);
            //     }
            // }
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 100%;
                // right: 0;
                // transform: translate(50%, -50%) scale(1);
                // position: absolute;
                // top: 0;
                // max-height: 100%;
                // text-indent: -9999px;
                // transition: transform .25s ease;
                cursor: pointer;
            }
        }
    }
}


/*** start cta 1 **/

.cta_1 {
    .cta_wrapper {
        padding: 30px;
        background-color: black;
        color: white;
        text-align: center;
        h4 {
            font-size: 20px;
            text-transform: uppercase;
            letter-spacing: 1.2;
        }
        p {
            font-size: 18px;
            line-height: 1.5;
        }
        button {
            background-color: transparent;
            border: 1px solid white;
            padding: 10px 20px;
            color: white;
            cursor: pointer;
        }
    }
}