*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  height: auto;
}

.vh {
  max-height: 100vh;
  overflow: hidden;
}

.overlay-on {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.425);
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 150;
  -webkit-transition: background-color .9s ease-in-out;
  transition: background-color .9s ease-in-out;
}

header.header-1 {
  position: relative;
}

@media (min-width: 1124px) {
  header.header-1.sticky-bar {
    padding-bottom: 100px;
  }
}

@media (max-width: 1124px) {
  header.header-1.sticky-bar {
    padding-bottom: 64px;
  }
}

header.header-1.sticky-bar .menu-mobile {
  position: fixed;
  top: 0;
  -webkit-animation: slide-down .7s;
          animation: slide-down .7s;
  width: 100%;
  background-color: white;
  z-index: 100;
}

header.header-1.sticky-bar .menu-desktop {
  position: fixed;
  top: 0;
  -webkit-animation: slide-down .7s;
          animation: slide-down .7s;
  z-index: 100;
}

header.header-1 .store-notice {
  width: 100%;
  background-color: #803160;
  color: white;
  padding: 15px 0;
  text-align: center;
}

header.header-1 .menu-desktop {
  -webkit-box-shadow: 0 5px 20px -10px #0000001a;
          box-shadow: 0 5px 20px -10px #0000001a;
  width: 100%;
  background-color: white;
  top: 0px;
  display: none;
  top: 0;
  -webkit-transition: top .5s ease-in-out;
  transition: top .5s ease-in-out;
}

@media (min-width: 1124px) {
  header.header-1 .menu-desktop {
    display: block;
  }
}

header.header-1 .menu-desktop .main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100px;
}

header.header-1 .menu-desktop .main-navigation .main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header.header-1 .menu-desktop .main-navigation .main-menu nav {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

header.header-1 .menu-desktop .main-navigation .main-menu nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

header.header-1 .menu-desktop .main-navigation .main-menu nav ul li a {
  padding: 0 16px;
  display: block;
  text-decoration: none;
  color: black;
}

header.header-1 .menu-desktop .main-navigation .logo {
  max-width: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header.header-1 .menu-desktop .main-navigation .logo a {
  display: block;
  max-height: 80px;
  width: 100%;
}

header.header-1 .menu-desktop .main-navigation .logo a img {
  width: 100%;
}

header.header-1 .menu-desktop .main-navigation .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

header.header-1 .menu-desktop .main-navigation .icons .icon-cart-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #f0f0f0;
  border-radius: 3px;
}

header.header-1 .menu-desktop .main-navigation .icons .icon-cart-box .cart-total {
  padding: 10px;
}

header.header-1 .menu-desktop .main-navigation .icons .icon-cart-box .cart-icon {
  padding: 10px;
  border-left: 1px solid #f0f0f0;
}

header.header-1 .menu-mobile {
  display: block;
}

@media (min-width: 1124px) {
  header.header-1 .menu-mobile {
    display: none;
  }
}

header.header-1 .menu-mobile .main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 60px;
  background-color: white;
}

header.header-1 .menu-mobile .main-navigation .logo {
  max-width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header.header-1 .menu-mobile .main-navigation .logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 55px;
  max-height: 55px;
  width: 100%;
}

header.header-1 .menu-mobile .main-navigation .logo a img {
  width: 100%;
}

header.header-1 .menu-mobile .main-navigation .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

header.header-1 .menu-mobile .main-navigation .icons .icon-cart-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #f0f0f0;
  border-radius: 3px;
}

header.header-1 .menu-mobile .main-navigation .icons .icon-cart-box .cart-total {
  padding: 10px;
}

header.header-1 .menu-mobile .main-navigation .icons .icon-cart-box .cart-icon {
  padding: 10px;
  border-left: 1px solid #f0f0f0;
}

header.header-1 .menu-mobile .main-navigation .burger-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

header.header-1 .left-sidebar {
  position: fixed;
  background-color: white;
  left: 0;
  top: 0;
  height: 100vh;
  padding: 20px 15px;
  -webkit-transition: left .5s ease-in-out;
  transition: left .5s ease-in-out;
  -webkit-box-shadow: 0 5px 20px -10px #0000001a;
          box-shadow: 0 5px 20px -10px #0000001a;
  z-index: 200;
}

@media (max-width: 425px) {
  header.header-1 .left-sidebar {
    width: 80%;
  }
}

header.header-1 .left-sidebar .close-icon {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header.header-1 .left-sidebar .close-icon button {
  cursor: pointer;
  background-color: transparent;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  border: none;
  outline: none;
  -webkit-box-shadow: 1px 1px 4px 0px #00000008;
          box-shadow: 1px 1px 4px 0px #00000008;
  border: 1px solid rgba(0, 0, 0, 0.253);
  font-size: 15px;
  color: #803160;
}

header.header-1 .left-sidebar header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

header.header-1 .left-sidebar header a {
  max-width: 120px;
  display: block;
  max-height: 55px;
}

header.header-1 .left-sidebar header a img {
  width: 100%;
}

header.header-1 .left-sidebar nav form {
  margin: 15px 0;
}

header.header-1 .left-sidebar nav form input[type=search] {
  width: 100%;
  padding: 10px 10px;
  border-radius: 3px;
  border: 1px solid #e5e5e5;
  padding: 10px 15px;
  background-color: transparent;
  height: 50px;
  font-size: 16px;
  border: 1px solid #e5e5e5;
  outline: none;
}

header.header-1 .left-sidebar nav form input[type=search]:focus {
  outline: 2px solid #803160;
  caret-color: #803160;
  -webkit-box-shadow: 0 5px 20px 0 #0000001a;
          box-shadow: 0 5px 20px 0 #0000001a;
}

header.header-1 .left-sidebar nav ul {
  margin-top: 30px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

header.header-1 .left-sidebar nav ul li {
  border-bottom: 1px solid #f0f0f0;
}

header.header-1 .left-sidebar nav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding: 15px 0;
  text-decoration: none;
  color: black;
}

header.header-1 .off {
  left: -100%;
}

@-webkit-keyframes slide-down {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-down {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/*** Start Show case 1 **/
section.showcase-1 {
  width: 100%;
  overflow: hidden;
}

section.showcase-1 .showcase-image img {
  width: 100%;
}

section.showcase-1 .slick-arrow {
  z-index: 3;
}

section.showcase-1 .slick-arrow.slick-prev {
  left: 30px;
}

section.showcase-1 .slick-arrow.slick-prev::before {
  content: "\f053";
  font-family: 'Font Awesome 5 Free';
  font-size: 30px;
  height: 30px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 900;
}

section.showcase-1 .slick-arrow.slick-next {
  right: 30px;
}

section.showcase-1 .slick-arrow.slick-next::before {
  content: "\f054";
  font-family: 'Font Awesome 5 Free';
  font-size: 30px;
  height: 30px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 900;
}

/*** start cats 1 **/
.cats-1 {
  margin: 50px 0;
}

.cats-1 header {
  text-align: center;
  margin: 40px 0 50px;
}

.cats-1 .category-card {
  color: white;
  position: relative;
  margin-bottom: 10px;
  cursor: pointer;
}

.cats-1 .category-card .overlay {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #00000066;
}

.cats-1 .category-card .category-label {
  position: absolute;
  left: 5%;
  top: 5%;
  height: 90%;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  border: 1px solid white;
  z-index: 2;
  font-size: 18px;
}

.cats-1 .category-card .category-label span {
  background-color: rgba(0, 0, 0, 0.26);
  padding: 10px 20px;
  text-transform: uppercase;
}

.cats-1 .category-card .category-thumbnail {
  overflow: hidden;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cats-1 .category-card .category-thumbnail img {
  width: 100%;
  cursor: pointer;
}

/*** start cta 1 **/
.cta_1 {
  margin-top: 50px;
}

.cta_1 .cta_wrapper {
  padding: 30px;
  background-color: black;
  color: white;
  text-align: center;
}

.cta_1 .cta_wrapper .cta_block {
  border: 1px solid white;
  padding: 20px;
}

.cta_1 .cta_wrapper .cta_block h4 {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1.2;
}

.cta_1 .cta_wrapper .cta_block p {
  font-size: 18px;
  line-height: 1.5;
}

.cta_1 .cta_wrapper .cta_block button {
  background-color: transparent;
  border: 1px solid white;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
}

/***
start product grid   **/
.products_grid_1 {
  margin-top: 100px;
}

.products_grid_1 header {
  text-align: center;
}

.products_grid_1 .product-card {
  margin-top: 30px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.174);
  -webkit-box-shadow: 0 5px 20px -10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 20px -10px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.products_grid_1 .product-card .product-thumbnail {
  width: 100%;
  padding: 0 0 100%;
  display: block;
  position: relative;
  height: 0;
  overflow: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.247);
}

.products_grid_1 .product-card .product-thumbnail img {
  position: absolute;
  top: 50%;
  max-height: 100%;
  text-indent: -9999px;
  -webkit-transition: -webkit-transform .25s ease;
  transition: -webkit-transform .25s ease;
  transition: transform .25s ease;
  transition: transform .25s ease, -webkit-transform .25s ease;
  right: 50%;
  -webkit-transform: translate(50%, -50%) scale(1);
          transform: translate(50%, -50%) scale(1);
}

.products_grid_1 .product-card .product-details {
  text-align: center;
  padding: 10px;
}

.products_grid_1 .product-card .product-details .product-title h3 {
  font-size: 14px;
}

.products_grid_1 .product-card .product-details .product-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.products_grid_1 .product-card .product-details .product-price .regular-price {
  font-size: 14px;
  text-decoration: line-through;
  color: gray;
}

.products_grid_1 .product-card .product-details .product-rating {
  font-size: 10px;
  margin-top: 10px;
  color: gold;
}

.products_grid_1 .product-card .product-details .product-buy-now {
  margin-top: 10px;
}

.products_grid_1 .product-card .product-details .product-buy-now a {
  display: block;
  text-decoration: none;
  color: white;
  width: 100%;
  background-color: black;
  padding: 10px;
  border-radius: 3px;
}

/*** start socila media 1 ***/
.social_media_1 {
  margin-top: 50px;
}

.social_media_1 header {
  text-align: center;
}

.social_media_1 .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.social_media_1 .wrapper .social-media-link {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 20px;
  color: white;
  background-color: #160545;
  border-radius: 4px;
}

@media (max-width: 425px) {
  .social_media_1 .wrapper .social-media-link {
    padding: 10px;
    font-size: 12px;
  }
}

.social_media_1 .wrapper .social-media-link i {
  font-size: 30px;
  margin-bottom: 10px;
}

/*** start baner ads 1 **/
.banner_ads_1 {
  margin-top: 50px;
}

.banner_ads_1 .banner img {
  width: 100%;
}

/*** start footer 1 **/
.footer_1 {
  margin-top: 50px;
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #fefefe;
}

.footer_1 .footer-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_1 .footer-block .section {
  overflow: hidden;
}

@media (max-width: 425px) {
  .footer_1 .footer-block .section {
    text-align: center;
  }
}

.footer_1 .footer-block .section ul {
  list-style: none;
  padding: 0;
}

.footer_1 .footer-block .section ul li {
  margin: 5px 0;
}

.footer_1 .footer-block .section .store_logo {
  width: 100%;
}

.footer_1 .footer-block .section .store_logo a {
  display: block;
  width: 50%;
  margin: auto;
}

.footer_1 .footer-block .section .store_logo a img {
  width: 100%;
  height: auto;
}

.footer_1 .footer-block .section .store_description {
  text-align: center;
  margin-top: 30px;
}

.footer_1 .copyrights {
  width: 100%;
  text-align: center;
  padding: 30px;
}

.footer_1 .copyrights i {
  color: red;
}

/*** start cats 2    ***/
.cats-2 header {
  text-align: center;
}

.cats-2 .category-card {
  border: 1px solid #00000029;
  -webkit-box-shadow: 1px 1px 5px 0px #0000000f;
          box-shadow: 1px 1px 5px 0px #0000000f;
  margin-top: 20px;
  padding: 30px;
  overflow: hidden;
  text-align: center;
  border-radius: 3px;
}

.cats-2 .category-card .category-thumbnail {
  width: 100%;
}

.cats-2 .category-card .category-thumbnail img {
  width: 100%;
}
/*# sourceMappingURL=main.css.map */